// Hero section

.logo {
  width: 4%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.circle-image {
  width: 22%;
  position: absolute;
  animation: spin 45s linear infinite;
}

.hero-img {
  max-width: 90vw;
  position: relative;
  z-index: 1;
  margin-top: -12%;
}
