/* position dots up a bit */
.flickity-page-dots {
  bottom: -44px;
}

/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 22%;
  margin: 0;
  border-radius: 0;
}

/* no circle */
.flickity-button {
  background: transparent;
}

/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}

/* icon color */
.flickity-button-icon {
  fill: white;
}

/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

.logo {
  width: 4%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.circle-image {
  width: 22%;
  position: absolute;
  -webkit-animation: spin 45s linear infinite;
          animation: spin 45s linear infinite;
}

.hero-img {
  max-width: 90vw;
  position: relative;
  z-index: 1;
  margin-top: -12%;
}

.information {
  margin: 8% auto;
  width: 85%;
}

.information figure {
  width: 70%;
  height: auto;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

.information .information-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.information .information-reverse-row {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.information .information-right-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1% 4%;
  font-size: 2rem;
  width: 60%;
}

.information .information-left-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1% 4% 0 0;
  font-size: 2rem;
  width: 45%;
}

.information #image-workaway {
  background-image: url("../img/grafikr_workaway.jpg");
  background-size: cover;
  background-position: center;
  height: 50rem;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.information #image-workaway:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.information #image-speaker {
  background-image: url("../img/grafikr_speaker.jpg");
  background-size: cover;
  background-position: center;
  height: 45rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.information #image-speaker:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.team {
  margin: 6% auto;
  text-align: center;
}

.team h3 {
  margin: 0 auto 4% auto;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 60%;
}

.team li {
  position: relative;
  list-style-type: none;
  display: inline-block;
  margin: 2%;
  font-size: 3.2rem;
  cursor: pointer;
}

.team li:hover {
  font-weight: 800;
}

.team li:hover span {
  display: block;
  position: absolute;
  top: -300px;
  left: -30px;
  width: 280px;
  text-align: center;
}

.team li:hover span:after {
  content: "";
  position: absolute;
  bottom: -11px;
  width: 10px;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.team li:hover span img {
  position: relative;
  height: 17rem;
  border: 1px solid #333;
}

.team li span {
  display: none;
}

.brands {
  margin: 10% auto;
  text-align: center;
}

.brands h2 {
  margin: 0 auto 4% auto;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
  max-width: 50%;
}

.gallery-cell {
  width: 66%;
  height: 800px;
  margin-right: 30px;
  background: lightgrey;
  counter-increment: gallery-cell;
}

.gallery-cell h3 {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
}

.client1 {
  background-image: url("../img/grafikr_client_twttw.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.client2 {
  background-image: url("../img/grafikr_client_soyaconcept.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.client3 {
  background-image: url("../img/grafikr_client_last.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1350px) {
  h2 {
    font-size: 7rem;
    padding: 0 5%;
  }
  .brands h2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
    max-width: 67%;
  }
}

@media screen and (max-width: 920px) {
  h2 {
    font-size: 6rem;
    padding: 0 5%;
  }
  .brands h2 {
    font-size: 3rem;
    max-width: 72%;
  }
}

@media screen and (max-width: 790px) {
  h2 {
    font-size: 5rem;
    padding: 0 5%;
  }
}

@media screen and (max-width: 660px) {
  h2 {
    font-size: 4rem;
    padding: 0 5%;
  }
  .brands h2 {
    font-size: 2rem;
    max-width: 72%;
  }
}

@media screen and (max-width: 540px) {
  h2 {
    font-size: 3rem;
    padding: 0 5%;
  }
  .brands h2 {
    font-size: 1.6rem;
    max-width: 72%;
  }
}

#color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
}

.bg-image {
  background-image: url("../img/simone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  z-index: 0;
  text-align: center;
  position: relative;
}

.bg-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 7.5rem;
  line-height: 1.1;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bg-text:hover {
  color: #000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100vw;
}

body {
  margin: 3% auto;
  font-family: "HK Gothic", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-size: 10rem;
  font-weight: 800;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.5rem;
  z-index: 10;
  position: relative;
  margin-top: 6%;
}

.wrap-90 {
  margin: 0 auto;
  max-width: 90%;
}

.fullwidth {
  max-width: 100vw;
}

/***************************************
*********** MEDIA QUERIES **************
***************************************/
@media screen and (max-width: 1640px) {
  h1 {
    font-size: 7.8rem;
    letter-spacing: 0.2rem;
  }
}

@media screen and (max-width: 1380px) {
  h1 {
    font-size: 6rem;
    letter-spacing: 0.2rem;
  }
  .team li {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 1080px) {
  h1 {
    font-size: 5rem;
    letter-spacing: 0.2rem;
  }
  .team li {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 4rem;
  }
  .team h3 {
    font-size: 2rem;
    max-width: 90%;
    margin-top: 15%;
    margin-bottom: 8%;
  }
  .team li {
    font-size: 1.55rem;
  }
  .team li:hover span {
    top: -220px;
    left: -120px;
  }
  .team li:hover span img {
    height: 12rem;
  }
}

@media screen and (max-width: 682px) {
  h1 {
    font-size: 3rem;
  }
  .team h3 {
    font-size: 2rem;
    max-width: 90%;
    margin-top: 25%;
    margin-bottom: 12%;
  }
  .team li {
    font-size: 1.55rem;
    display: block;
    padding: 10px;
  }
  .team li:hover span {
    top: -200px;
    left: 0px;
  }
  .team li:hover span img {
    height: 12rem;
  }
}

/***************************************
*********** KEYFRAMES **************
***************************************/
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
/*# sourceMappingURL=styles.css.map */