@import "base";
@import "hero";
@import "information";
@import "team";
@import "fullwidth";
@import "brands";

* {
  box-sizing: border-box;
}

body {
  margin: 3% auto;
  font-family: $font-stack;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.wrap-90 {
  margin: 0 auto;
  width: 90vw;
  //background-color: green;
}

.fullwidth {
  min-width: 100vw;
  //background: blue;
}

@media screen and (max-width: 1350px) {
  h1 {
    font-size: 5.6rem;
    letter-spacing: 0.2rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.6rem;
  }
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
